
*{
    margin: 0%;
    padding: 0%;
     box-sizing: border-box;

}
body {
  background-color: gray;
}
nav {
    display: flex;
    align-items: center;
  background-color: #333;
    color: #fff;
    height: 75px;
    padding: 10px;
    gap: 40px;
    border-bottom: px solid white;
  }
  
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .search  {
    display: flex;
    

  }
  .search button:hover {
    background-color: #189c60 ;
    color: white;
    transition: all 0.5s ease;
  }


  .search input {
    margin-right: 5px;
    padding: 5px;
  }
  
  .search button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
   
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hamburger-menu {
      display: flex;
    }
    nav{
      justify-content: space-between;
    }
  }
  